<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient">New User </span>
        <i class="fa-sharp fa-solid fa-user-plus"></i>
      </a>
    </div>

    <input
      type="text"
      name=""
      id="site-main"
      placeholder="Names..."
      onkeyup="searchFun(this.value)"
    />

    <select name="Gender" id="site-main">
      <!-- <option value="#">#</option> -->
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <!-- form - handling -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Img</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show')%>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
